.white {
  color: #ffffff;
}

.white-back {
  background-color: #ffffff;
}

.milky-white {
  color: #e7e7de;
}

.milky-white-back {
  background-color: #e7e7de;
}

.dark-green {
  color: #008891;
}

.dark-green-back {
  background-color: #008891;
}

.indigo {
  color: #00587a;
}

.indigo-back {
  background-color: #00587a;
}

.dark-indigo {
  color: #0f3057;
}

.dark-indigo-back {
  background-color: #0f3057;
}

.black {
  color: #000000;
}
