#app {
  min-height: 100vh;
}

.list-style-no {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.hover-grey {
  &:hover {
    color: grey;
  }
}

.wrap {
  overflow: hidden;
}


.select-box-size {
  width: 15%;
}

#to_page_top {
  text-align: right;
}
