#app {
  min-height: 100vh;
}

.list-style-no {
  list-style: none;
}

.object-fit-cover {
  object-fit: cover;
}

a:hover {
  text-decoration: none;
}

.hover-grey {
  &:hover {
    color: grey;
  }
}

.wrap {
  overflow: hidden;
}


.select-box-size {
  width: 15%;
}

