#app_description {
  height: 400px;
  width: 400px;
  margin: auto;
  border: 1px solid blue;
}

#app_title {
  font-size: 30px;
  padding-top: 5px;
}

.nav-item-style {
  padding-top: 20px;
}

.list-row {
  height: 40px;
}

.tweet-style {
  width: 33%;
}

footer {
  text-align: right;
}

#to_page_top {
  font-size: 30px;
}