#app_description {
  height: 400px;
  width: 400px;
  margin: auto;
  border: 1px solid blue;
}

#nav-style {
  height: 70px;
}

#app_title {
  font-size: 30px;
}


.list-row {
  height: 40px;
}

.tweet-style {
  width: 33%;
}
