// 共通
a:hover {
  text-decoration: none;
}

// ヘッダー、フッター
header {
  height: 100%;
}

.header-color {
  background-color: #87cefa;
}

.nav-item-style {
  //padding-top: 10px;
  height: 10vh;
  vertical-align: middle;
}

#app_title {
  font-size: 30px;
  padding-top: 5px;
}

#to_page_top {
  font-size: 30px;
  text-align: right;
}

#common_footer {
  height: 60px;
  width: 100%;
  background-color: #89c7de;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// トップページ
#app_description {
  height: 90vh;
  background-color: #f0ffff;
}

#tops-image {
  width: 100%;
  height: 600px;
  background-image: url('top-image.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

// トップ
.top-image {
  width: 50%;
}


// リスト一覧
.tweet {
}


// ツイートのリプ、リツイート、いいね欄
.action-space {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.reply-info {
  height: 30px;
  width: 30px;
  flex-basis: 60px;
}
.reply-icon {
  // padding-topは微調整
  padding-top: 1.5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.retweet-info {
  display: flex;
  height: 30px;
  width: 30px;
  flex-basis: 80px;
}

.retweet-icon {
  // padding-topは微調整
  padding-top: 2.5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.favorite-info {
  display: flex;
  height: 30px;
  width: 30px;
  flex-basis: 80px;
}

.favorite-icon {
  // padding-topは微調整
  padding-top: 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.action-count {
  padding-bottom: 1px;
  font-size: 13px;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
}

// 検索
#search_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#load_period {
  color: blue;
}

// ツイートいいね順
#no_tweets_alert {
  margin-top: 90px;
  font-size: 30px;
}
