header {
  background-color: #87cefa;
  @media (max-width: 990px) {
    height: 150px;
  }
  @media (min-width: 990px) {
    height: 80px;
  }
}

.header {
  border-bottom: 1px solid #ddd;
}

.header-inner {
  max-width: 80%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

#header-title {
  color: black;
  &:hover {
    color: black;
  }
  @media (max-width: 990px) {
    font-size: 70px;
  }
  @media (min-width: 990px) {
    font-size: 40px;
  }
}

.twitter-icon {
  margin: auto 0 auto 30px;
  width: 70px;
  height: 70px;
}

.pc-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.pc-menu {
  margin: auto 0;
  display: flex;
  list-style: none;
}

.pc-menu-item {
  color: black;
  &:hover {
    color: black;
  }
  @media (max-width: 990px) {
    display: none;
  }
}

.smartphone-menu {

  @media (min-width: 990px) {
    display: none;
  }
}

.smartphone-menu-item {
}

#to_page_top {
  font-size: 30px;
  text-align: right;
}

.header-left {
  margin: auto 0;
}

.header-right {
  display: flex;
}

