// ツイート
.tweet-style {
  border-radius: 0.5em;
  padding: 0 10px;
  @media (max-width: 990px) {
    border: solid 2px #d3d3d3;
  }
  @media (min-width: 990px) {
    border: solid 1px #d3d3d3;
  }
}


.user-info {
  width: 92%;
  @media (max-width: 990px) {
    //font-size: 1.5em;
  }
  @media (min-width: 990px) {
    //font-size: 0.5em;
  }
}

.user-name-field {
  vertical-align: middle;
}

.user-name {
  //font-size: 1.5em;
}

.tweet-logo {
  width: 8%
}

.twitter-icon {
  @media (max-width: 990px) {
    width: 80px;
    height: 80px;
  }
  @media (min-width: 990px) {
    width: 40px;
    height: 40px;
  }
}

.twitter-logo {
  @media (max-width: 990px) {
    width: 70px;
    height: 70px;
  }
  @media (min-width: 990px) {
    width: 30px;
    height: 30px;
  }
}

.text-style {
  margin-top: 10px;
  word-wrap: break-word;
  @media (max-width: 990px) {
    //font-size: 2em;
  }
  @media (min-width: 990px) {
    //font-size: 1em;
  }
}

.tweeted_datetime {
  margin-left: auto;
  @media (max-width: 990px) {
    //font-size: 2em;
    height: 70px;
  }
  @media (min-width: 990px) {
    //font-size: 1em;
  }
}

.media {
  width: 100%;
  object-fit: cover;
  @media (max-width: 990px) {
    max-height: 600px;
  }
  @media (min-width: 990px) {
    max-height: 350px;
  }
}

.embed_youtube {
  width: 100%;
}

.link-area {
  display: block;
}

.action-space {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 990px) {
    height: 50px;
  }
  @media (min-width: 990px) {
    height: 30px;
  }
}

// ツイートのリプライ
.reply-info {
  flex-basis: 60px;
  @media (max-width: 990px) {
    height: 50px;
    width: 70px;
  }
  @media (min-width: 990px) {
    height: 30px;
    width: 30px;
  }
}
.reply-icon-space {
  // padding-topは微調整
  padding-top: 1.5px;
  border-radius: 50%;
  text-align: center;
  @media (max-width: 990px) {
    width: 70px;
    height: 50px;
  }
  @media (min-width: 990px) {
    width: 30px;
    height: 30px;
  }
}

.reply-icon {
  @media (max-width: 990px) {
    width: 30px;
    height: 30px;
  }
  @media (min-width: 990px) {
    width: 11px;
    height: 11px;
  }
}

// ツイートのリツイート
.retweet-info {
  display: flex;
  flex-basis: 80px;
  @media (max-width: 990px) {
    height: 50px;
    width: 140px;
  }
  @media (min-width: 990px) {
    height: 30px;
    width: 30px;
  }
}

.retweet-icon-space {
  // padding-topは微調整
  border-radius: 50%;
  text-align: center;
  @media (max-width: 990px) {
    padding-bottom: 2.5px;
    height: 50px;
    width: 140px;
  }
  @media (min-width: 990px) {
    padding-top: 2.5px;
    width: 30px;
    height: 30px;
  }
}

.retweet-icon {
  // NOTE: リツイートアイコンはリプライ、いいねアイコンとは別の場所から取得したため
  //       他2つとは少し使い勝手が異なり、微妙な調整が必要
  @media (max-width: 990px) {
    width: 43px;
    height: 29px;
    padding-top: 4px;
  }
  @media (min-width: 990px) {
    width: 18px;
    height: 10px;
  }
}

// ツイートのいいね
.favorite-info {
  display: flex;
  flex-basis: 80px;
  @media (max-width: 990px) {
    height: 50px;
    width: 140px;
  }
  @media (min-width: 990px) {
    height: 30px;
    width: 30px;
  }
}

.favorite-icon-space {
  // padding-topは微調整
  padding-top: 2px;
  border-radius: 50%;
  text-align: center;
  @media (max-width: 990px) {
    height: 50px;
    width: 140px;
  }
  @media (min-width: 990px) {
    width: 30px;
    height: 30px;
  }
}

.favorite-icon {
  @media (max-width: 990px) {
    width: 30px;
    height: 30px;
  }
  @media (min-width: 990px) {
    width: 11px;
    height: 11px;
  }
}

.action-count {
  padding-bottom: 1px;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  @media (max-width: 990px) {
    //font-size: 30px;
  }
  @media (min-width: 990px) {
    //font-size: 13px;
  }
}

// 検索
#search_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#load_period {
  color: blue;
}

// ツイートいいね順
#no_tweets_alert {
  margin-top: 90px;
  //font-size: 30px;
}
