#table_style {
  border-width: 1px;
  .list-row {
    border-top: solid 1px #b3b3b3;
    border-bottom: solid 1px #b3b3b3;
  }
}

.table-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  &:hover {
    color: black;
  }
}

.list-row:hover {
  background: #f0f8ff;
  cursor: pointer;
}

